%h3 Известные проблемы

#problems
  = render 'problems'

= link_to glyph(:plus)+' Новая проблема', new_problem_path, class: 'btn btn-mini', data: { keybinding: 'ins' } if can? :manage, Problem
%br
%br