<p>
  <b>Name:</b>
  <%= @problem.name %>
</p>

<p>
  <b>Description:</b>
  <%= @problem.description %>
</p>

<div class='btn-group'>
  <%= link_to 'Назад', problems_path, :class => 'btn btn-mini' if can? :read, @problem  %>
  <%= link_to 'Изменить', edit_problem_path(@problem), :class => 'btn btn-mini' if can? :manage, @problem  %>
</div>
