%h3 Список оборудования

#servers
  = render 'servers'

= link_to glyph(:plus)+' Новое оборудование', new_server_path, class: 'btn btn-mini', data: { keybinding: 'ins' } if can? :create, Server
%br
%br