:css
  form {
    margin: 0;
  }
  .modal {
    width: 35%;
  }
  .modal-body {
    max-height: 100%;
  }

.modal{id: "role-options-#{user.id}", style: 'display: none;'}
  = simple_form_for user, url: user_path(user), html: {method: :put, class: 'form-horizontal' } do |f|
    .modal-header
      %i.icon-remove.pull-right{'data-dismiss' => 'modal'}
      %h3 Изменить роль
    .modal-body
      = f.input :role_ids, collection: Role.all, as: :check_boxes, label_method: lambda {|t| t.description}, label: false, item_wrapper_class: 'inline'
    .modal-footer
      = f.submit 'Сохранить', class: 'btn'
      %a.btn{'data-dismiss' => 'modal', href: '#'} Отмена
