- if !current_user
  :css
    html, body {
        width: 100%;
        height: 100%;
        overflow:hidden;
    }

    body {
        background-color: #444444;
        background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#555555), to(#111111));
        background-image: -webkit-linear-gradient(top, #555555 0%, #111111 100%);
        background-image: -moz-linear-gradient(top, #555555 0%, #111111 100%);
        background-image: -ms-linear-gradient(top, #555555 0%, #111111 100%);
        background-image: -o-linear-gradient(top, #555555 0%, #111111 100%);
        background-image: linear-gradient(top, #555555 0%, #111111 100%);
    }

    .modal {
      width: 70%;
      height: auto;
      left: 30%; 
      top: 15%;
      background-clip: padding-box;
      outline: none;
    }

- else
  :css
    .modal {
        position: static;
        margin: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        background-clip: padding-box;
        outline: none;
    }
:css
  .modal-body {
    max-height: 100%;
  }

  .modal-footer {
  }

#houston.modal
  .modal-header
    %h3 Хьюстон, у нас проблема!
  .modal-body
    %p Старт «Аполлона-13» состоялся в 13 часов (местное время Флориды UTC-6) 13 минут со стартовой площадки № 39 (трижды 13) 11 апреля 1970 года — сумма цифр в дате 11.04.70 даёт число 13, а сама авария произошла 13 апреля
    %p За несколько месяцев до полёта вышел фильм «Потерянные», с очень сходным сюжетом — в результате аварии на корабле трое астронавтов «застревают» на орбите Земли с ограниченным запасом кислорода. Непосредственные очевидцы назвали множество совпадений между фильмом и событиями миссии «Аполлон-13»:
    %ul
      %li первоначальное ошибочное предположение о том, что проблемы с модулем возникли из-за удара метеорита.
      %li характер пресс-конференции NASA.
      %li использование недокументированной возможности техники корабля.
      %li рассмотрение варианта погружения астронавтов в сон для меньшего расхода кислорода.
      %li опробование способа устранения поломки на наземной копии корабля.
    %p Кроме того, Джим Ловелл был на премьере фильма за несколько месяцев до полёта, а Джерри Вудфил, инженер из технической поддержки «Аполлона», ходил на фильм всего за пару часов до аварии. Позднее он и другой инженер Арт Кампос вспоминали о том, как события показанные в фильме непосредственно повлияли на ход их рассуждений, который привёл их к правильному решению.
    %p Возможно, после этого инцидента в американскую разговорную речь вошла фраза Суайгерта: «Хьюстон, у нас проблема» (англ. Houston, we’ve had a problem). Сегодня эта фраза иногда звучит в варианте Houston, we have a problem — именно так она была озвучена в фильме, снятом по мотивам событий, причём в фильме её произносит Ловелл. Впервые она прозвучала в фильме «Робинзон Крузо на Марсе» в 1964 году, произносилась и в «Потерянных» в 1969 году.
    %p Производитель «Водолея», фирма «Грумман» выставила производителю «Одиссея», фирме «Норт Амэрикен Роквелл» коммерческий счет за «буксировку, подзарядку аккумуляторов, заправку кислородом, а так же спальные места для двоих, без телевизора, с радио, кондиционером и двухразовым питанием плос дополнительный гость на ночь, хранение багажа, чаевые» в сумме 312 421 доллар 24 цента. В конце счета было приписано «Лунный модуль освободить не позднее полудня пятницы, после этого срока проживание не гарантируется». Счет был выставлен вечером в четверг по Хьюстонскому времени, за 15 часов до посадки, вскоре после того, как стало ясно, что командный модуль следует строго по расчетной траектории и шансы на благополучное возвращение экипажа неизмеримо возросли. Эта шутка позволила значительно разрядить напряженность, царившую среди операторов ЦУПа.
  .modal-footer
    .pull-right.btn-group
      %a.btn.btn-mini{href: 'http://ru.wikipedia.org/wiki/%D0%90%D0%BF%D0%BE%D0%BB%D0%BB%D0%BE%D0%BD-13', target: '_blank'}
        = glyph(:book)+' Источник'
      - if !current_user
        %a.btn.btn-mini.btn-success{href: '/login'}
          = glyph(:home)+' Вход в ЦУП'
