:css
  form {
    margin: 0;
  }
  .modal {
    width: 30%;
  }
  .modal-body {
    max-height: 100%;
  }

.modal{id: "incedent-close-#{incedent.id}", style: "display: none;"}
  = simple_form_for incedent, url: close_incedent_path(incedent), method: :post, html: { class: 'form-horizontal form' } do |f|
    .modal-header
      %i.icon-remove.pull-right{"data-dismiss" => "modal"}
      %h3 Укажите причину закрытия
    .modal-body
      = f.input :close_reason, label: false, input_html: { class: 'form-input' }, as: :text, class: 'form-modal-input'
    .modal-footer
      .pull-right.btn-group
        = f.submit "Закрыть жалобу", class: "btn btn-success"
        %a.btn{"data-dismiss" => "modal", href: "#"} Отмена
