.form-inline.form
  .form-inputs
    .control-group.file
      %label.file.control-label{ for: 'incedent_attaches_attributes_XXX_file' }
        Файл
      .controls
        %input.file{ id: 'incedent_attaches_attributes_XXX_file', name: 'incedent[attaches_attributes][XXX][file]', type: 'file' }
    .control-group.string
      %label.string.control-label{ for: 'incedent_attaches_attributes_XXX_description' }
        Описание
      .controls
        %input.string.form-input{ id: 'incedent_attaches_attributes_XXX_description', name: 'incedent[attaches_attributes][XXX][description]', size: '50', type: 'text' }
%br
%br