%br
%br
.form#history
  .pull-right
    %i.icon-remove#close-button{onclick: "$('#history').hide('fast');", title: 'Закрыть'}
  .form-inputs
    %p История изменений:
    %table.table.table-striped.table-bordered.table-condensed
      %tr
        %th Действие      
        %th Пользователь
        %th.span3 Дата и время
      - @incedent.incedent_actions.order('created_at').each do |action|
        %tr
          %td= action.status.name
          %td= action.worker.realname+' ('+action.worker.email+')'
          %td= action.created_at.strftime('%d.%m.%Y %H:%M')