:javascript
  $(document).ready(
    function(){
      setInterval(function(){
        $("#content").load('#{request.fullpath} #incedents');
      }, 180000);
    });

#incedents
  = render 'incedents_'+((cookies[:viewmode]) ? cookies[:viewmode] : 'list' )
%br
%br
