<p>
  <b>Server:</b>
  <%= @server_problem.server.name %>
</p>

<p>
  <b>Problem:</b>
  <%= @server_problem.problem.name %>
</p>

<div class='btn-group'>
  <%= link_to 'Назад', server_problems_path, :class => 'btn btn-mini' if can? :read, @server_problem  %>
  <%= link_to 'Изменить', edit_server_problem_path(@server_problem), :class => 'btn btn-mini' if can? :manage, @server_problem  %>
</div>