.navbar.navbar-inverse.navbar-fixed-bottom
  .navbar-inner
    .container-fluid
      %p.footer
        = link_to Houston::Application.config.app_name+' v'+Houston::Application.config.version+'.', 'https://github.com/akolosov/houston', target: :blank
        Copyright &copy;
        %a{href: 'mailto:alexey.kolosov@gmail.com'} Alexey Kolosov.
        All rights reserved.
