.navbar.navbar-inverse.navbar-fixed-bottom
  .navbar-inner
    .container-fluid
      %p.footer
        Copyright &copy;
        = succeed "," do
          %a{:href => "mailto:alexey.kolosov@gmail.com"} Alexey Kolosov
        customWork 2012. All rights reserved. (SESSION_ID: #{request.session_options[:id]})
