.navbar.navbar-inverse.navbar-fixed-bottom
  .navbar-inner
    .container-fluid
      %p.footer
        = Houston::Application.config.app_name+' v'+Houston::Application.config.version+'.'
        Copyright &copy;
        %a{href: 'mailto:alexey.kolosov@gmail.com'} Alexey Kolosov.
        All rights reserved. (SESSION_ID: #{request.session_options[:id]})
